svg {
  font: 12px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  background: #cdcdef;
  color: #000000;
  border: 0px;
  pointer-events: none;
  padding: 8px;
}

.arrow-up {
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cdcdef;
}

.treemap {
  margin: 8px;
  margin-top: 40px;
  overflow: hidden;
  background: white;
}


.children text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
  fill: white;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #225d86;
}

.grandparent:hover rect {
  fill: #003b64 ;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  fill-opacity: 0.5;
}

rect.child {
  fill-opacity: 0;
}

text.drilldown:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

html[data-useragent='notie'] .children:hover rect.parent {
  fill-opacity: 0 !important;
}

html[data-useragent='notie'] .children:hover rect.child {
  fill-opacity: 0.9 !important;
}
